<section>
  <div class="l-content-wrapper">
    <h2 class="l-h2">Consigne</h2>
    <p>
      Depuis <code>js/animations.js</code>, écrivez le code JavaScript pour
      créer des animations GSAP selon les indications de chaque exercice.
    </p>
    <p>
      <b
        >N'oubliez pas d'installer la librairie GSAP dans un premier temps (via
        <code>npm install gsap</code>) et de l'importer ensuite tout en haut du
        fichier <code>js/animations.js</code></b
      >
    </p>
  </div>
  <div class="l-content-wrapper">
    <h2 class="l-h2">Exemple</h2>
    <pre><code>// gsap.to("#js-exercise-1", { x: 100, duration: 2 }); // L'élément se déplace de 100px vers la droite en 2 secondes</code></pre>
  </div>
</section>
